body {
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

/*header styling*/
.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 200px;
    flex-grow: 0;
}

.logo {
    margin-right: auto;
}

img {
    width: 280px;
    height: 60px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/*hero menu styling*/
.hero {
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: #1F2937;
    flex: 1;    
    gap: 16px;
    padding: 60px 200px;
}

.picture {
    background-color: #7b7e83;
    border: 1px solid grey;
    border-radius: 10px;
    flex: 1;
    display: flex;
    align-items: flex-start;
}

.picture img {
    flex: 1;
    height: auto;
    border-radius: 10px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.description {
    font-size: 18px;
    color: #E5E7EB;
}

.hero button {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 10px 24px;
    font-size: 18px;
    border-radius: 5px;
    border: 0;
}

button:hover {
    border: #3882F6;
    background-color: #F9FAF8;
    color:#3882F6;
    transition: 800ms;
}

.hero-title {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 800px;
    flex: 1;
}

/*footer styling*/
.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 16px;
}

/*subbmit styling*/
.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    padding: 0 300px;
} 

.box {
    background-color:#3882F6;
    border-radius: 5px;
    padding: 48px 100px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    flex: 1;
}

.box button {
    background-color: #3882F6;
    border: 2px solid #E5E7EB;
    color: #E5E7EB;
    border-radius: 5px;
    padding: 10px 36px;
    font-size: 18px;
    font-weight: bold;
}

.box button:hover {
    background-color: #E5E7EB;
    color: #3882F6;
    transition: 800ms;
}

.main {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 20px;
}

/*quote styling*/
.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 60px 540px;
}

.container {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  flex-wrap: wrap;
}

.quote .text {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

.quote .author {
    font-size: 18px;
    font-weight: bold;
    align-self: flex-end;
}

/*samples*/
.samples {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.samples .title {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}

.photos {
    display: flex;
    font-size: 18px;
    color: #3f4e63;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 48px 100px;
    text-align: center;
}

.photos img {
    border: 5px solid #3882F6;
    border-radius: 10px;
    height: 200px;
    object-fit: fill;
    flex: 1;
    transition: 0.5s ease-in-out;
}

.photos img:hover {
    width: 500px;
    height: 300px;
    transition: 0.5s ease-in-out;
    border: 5px solid red;
}

